<h1>View or Edit Your Order</h1>
<p class="address"><%= @order.name %></p>
<p class="address"><%= @order.address %> </p>
<p class="address"><%= @order.city %>, <%= @order.state %> <%= @order.zip %></p>
<hr>
<section class="grid-container">
  <% @order.item_orders.each do |item_order| %>
    <section class="grid-item" id = "item-<%=item_order.item_id%>">
      <p><%= link_to item_order.current_item.name, "/items/#{item_order.item_id}" %></p>
      <p><%= item_order.current_item.merchant.name %></p>
      <p>Price: <%= number_to_currency(item_order.current_item.price) %></p>
      <p>Quantity: <%= item_order.quantity %></p>
      <p>Subtotal: <%= number_to_currency(item_order.subtotal) %></p>
    </section>
  <% end %>
</section>
<hr>
<center>
  <h3>Grand Total: <%= number_to_currency(@order.grand_total) %></h3>
  <p>Ordered on: <%= @order.created_at.strftime('%B %d, %Y') %></p>
  <p> <%= button_to 'Edit Order', "/verified_order/#{@order.id}/edit", method: :get %></p>
</center>
